<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Employees</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" th:href="@{/css/employees.css}"/>
</head>
<body>


<h1>Employees</h1>

<button onclick="location.href = '/add-employee'">Add new employee</button>
<button onclick="location.href = '/logout'">Log out</button>
<br><br>
<table id="employees">
  <tr>
    <th>Id</th>
    <th>First name</th>
    <th>Last name</th>
    <th>See more</th>
    <th>Delete</th>
  </tr>
  <tr th:each="employee : ${employees}">
    <td th:text="${employee.id}"></td>
    <td th:text="${employee.firstname}"></td>
    <td th:text="${employee.lastname}"></td>
    <td><a th:href="${'/employees/' + employee.id}">View</a></td>
    <td><a th:href="${'/delete/' + employee.id}">Delete</a></td>
  </tr>
</table>

</body>
</html>
